@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.Bench {
    max-width: 100%;
    height: 100vh;
    background-color: rgba(35, 35, 37, 1);
    background: url("../images/Rectangle\ 1.png") no-repeat;
    background-size: cover;
}

.Bench_conent {
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

/* sidebar */

.sideBare {
    max-width: 240px;
    width: 100%;
    height: 100vh;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.sideBare_wrapper {
    max-width: 138px;
    height: 870px;
    margin: 60px auto 0;
    display: block;
    justify-content: center;
}

.sideBare_logo {
    width: 98px;
    height: 74px;
    margin-bottom: 105px;
}

.logo{
    width: 98px;
    height: 74px;
    display: flex;
    justify-content: center;
}

.nav {
    width: 100%;
    height: 413px;
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
}

.sideBare_link {
    color: #Fff;
    display: block;
    margin-bottom: 40px;
    text-align: center;
}

.sideBare_link:last-child {
    margin-bottom: 0;
}

.contacts{
    width: 120px;
    justify-content: space-between;
    display: flex;
    margin-top: 156px;
}

.sideBare_contacts{
    width: 19px;
    height: 18px;
}

/* content */

.content {
    max-width: 871px;
    width: 100%;
    height: 100%;
}