@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");
@font-face {
    font-family: Muller;
    src: url("./Fonts.rar");
  }

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.Bench {
    max-width: 100%;
    height: 100vh;
    background-color: rgba(35, 35, 37, 1);
    background: url("../images/Rectangle\ 1.png") no-repeat;
    background-size: cover;
}

.Bench_conent {
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

/* sidebar */

.sideBare {
    position: fixed;
    max-width: 240px;
    width: 100%;
    height: 100vh;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-top: none;
    border-bottom: none;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.logoContainer img{
    width: 98px;
    height: 74px;
    margin-top: 64px;
}

.nav{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 105px;
}

.nav a{
    font-family: Muller;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 24px;
}
.nav a:first-child{
    color: white;
}

.links{
    margin-top: 90px;
}

.links a {
    padding: 0 12px;
}

.links a img {
    width: 20px;
    height: 19px;
}