@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.gold {
    color: rgb(175, 134, 58);
}

.grey {
    color: #626262;
}

.white {
    color: white;
}

.main-container {
    margin: 0 auto;
    display: flex;
    background-color: #232325;
    justify-content: space-between;
}

.main-wrapper {
    display: flex;
    margin: 0 auto;
    width: 1200px;
}

/* FIRST BLOCK STARTS */

.first-block-bg {
    background-image: url("../images/Rectangle\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center center; */
    /* background-attachment: fixed; */
}

/* FIRST BLOCK ENDS */

/* SIDEBAR STARTS */

.sidebar {
    height: 100vh;
    width: 30%;
    color: #fff;
    position: relative;
    margin-right: 75px;
}

.sidebar__wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    height: 100%;
    width: 20%;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.sidebar__list ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.sidebar__list ul li {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 24px;
}

/* Временно */

.sidebar__list ul li:not(:first-child) {
    opacity: 0.6;
}

/* SIDEBAR ENDS */

/* MAIN STARTS */

.main__container {
    height: 600px;
    background-size: cover;
    background-image: url("https://thumb.tildacdn.com/tild3330-6161-4334-b263-666530333436/-/format/webp/main_pic.jpg");
}
.main__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main__up {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main__down {
    width: 100%;
    height: 10%;
    text-align: center;
}

.main__down_text {
    font-size: 16px;
}

.main__up_title {
    font-size: 60px;
    width: 500px;
    margin: 0;
    line-height: 70px;
    font-family: "Vollkorn", serif;
}

.main__up_top {
    font-size: 16px;
    margin: 0;
    display: flex;
    height: 20px;
    margin-bottom: 15px;
}

.main__up_bottom {
    font-size: 18px;
    width: 450px;
    margin-top: 25px;
}

.main__up_wrapper {
    margin-left: 60px;
}

.main__up_top img {
    width: 25px;
    height: 20px;
    margin-right: 10px;
}

.main__up_top p {
    margin: 0;
}

/* MAIN ENDS */

/* QUERY STARTS */

@media (min-width: 768px) {
    .main-wrapper {
        width: 750px;
    }
    .sidebar {
        display: none;
    }
}

@media (min-width: 992px) {
    .main-wrapper {
        width: 970px;
    }
    .sidebar {
        display: block;
    }
}

@media (min-width: 1200px) {
    .main-wrapper {
        width: 1170px;
    }
    .sidebar {
        display: block;
    }
}
